server{

listen 8000;
server_name localhost;

location / {
    proxy_redirect off;
    proxy_pass https://www.google.co.uk/;
    proxy_redirect http://www.google.com/ /;
    proxy_cookie_domain google.com localhost;
    proxy_set_header Accept-Encoding "";
    proxy_set_header User-Agent $http_user_agent;
    proxy_set_header Accept-Language "us-EN";
    #proxy_set_header Cookie "PREF=ID=047808f19f6de346:U=0f62f33dd8549d11:FF=2:LD=zh-CN:NW=1:TM=1325338577:LM=1332142444:GM=1:SG=2:S=rE0SyJh2W1IQ-Maw";
   }
}

#vi /etc/hosts   add ip google.com